body {
  margin: 0 auto;
  padding: 100px 100px;
  background-color: #f4f4f4;
  font-size: 20px;
  background: cadetblue;
  color: black;
  width:700px;
  overflow-x: hidden;
}


nav{
display: flex;
flex-direction: row;
margin: 0;
justify-content: space-between;
align-items: center;
border-bottom:1px solid rgb(19, 52, 53); ;
}

nav>ul{
  list-style: none ;
  display: flex;
flex-direction: row;
gap: 20px;
}

nav>p{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(183, 216, 216);
}


h1{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
  font-size:65px;
  font-weight: 800;
  color: rgb(183, 216, 216), white;
}



h3, h2{
  font-family: sans-serif;
  color: rgb(19, 52, 53);
}

h3{
  font-weight: 100;
}

ul,ol, p{
  font-family: sans-serif;
  color: rgb(40, 39, 39);
  line-height: 1.5;
}


.details{
display: flex;
flex-direction: row;
justify-content: space-between;
}

section{
  margin-block: 70px;
}

footer{
  text-align: center;
  font-size: medium;
}


.card{
  border: 5px solid #ccc;
  padding:  10px 50px;
  margin: 100px;
}

.login{
  border: 1px solid gray;
  background: white;
  width: 400px;
  height: 500px;
  padding: 50px;
  margin: 0px auto;
  border-radius: 9px;


}

.head{
  font-size: 25px;
  font-weight: 600;
  list-style: auto;
  margin-bottom: 5px;
  color: black;
  font-family: sans-serif;
}

.subhead{
  font-size: small;
  color: gray;
  margin-bottom: 40px ;
}

label{
  font-size: 16px;
  color:gray ;
  font-family: sans-serif;
  font-weight: 500;
}

input{
display: block;
width: 90%;
border: 1px solid #ccc;
border-radius: 5px;
margin-bottom: 30px;
padding: 15px;

}

.reset{
  color: gray;
  margin-bottom: 30px;
  font-size: 14px;
  text-align: right;
}


button{
  border-radius: 50px;
  display: block;
  width: 100%;
  margin: 20px  auto;
  padding: 15px;
  background: rgb(3, 152, 142);
  border: none;
  color: white;
  margin-bottom: 40px;

}

.signup{
   color: gray;
   font-size: 14px;
  text-align: center;
}



span{
  font-weight: bold;
  font-size: 14px;
  color:  rgb(3, 152, 142);
  text-decoration: underline;
}