body {
  box-sizing: border-box;
  font-family: "League Spartan";
  margin: 0;
  padding: 80px;
  background-color: white;
  position: relative;
}

h1 {
  font-size: 40px;
  color: hsl(300, 43%, 22%);
  font-weight: 700;
}

p {
  font-size: 15px;
  color: white;
}

.bold {
  font-weight: bold;
  line-height: 0.5;
}

.magenta {
  color: hsl(300, 43%, 22%);
}
.pink {
  color: hsl(333, 80%, 67%);
}

.subhead {
  opacity: 0.7;
  margin-top: 24px;
  margin-bottom: 48px;
  max-width: 350px;
  line-height: 1.5;
}

.flex-sm {
  display: flex;
  gap: 15px;
  align-items: center;
}

.flex-col-sm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.flex {
  display: flex;
}

.flex-btw {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:15px;
}

.rating {
  background-color: hsl(300, 24%, 96%);
padding-block: 1px;
  border-radius: 5px;
  padding-inline: 20px;

  max-width: 320px;
  width: 90%;
}

.margin-sm {
  margin-left: 100px;
}

.margin-lg {
  margin-left: 200px;
}

.m-bottom {
  margin-bottom: 20px;
}

.m-bottom-lg {
  margin-top: 40px;
}

.m-top-sm {
  margin-top: 30px;
}
.m-top-lg {
  margin-top: 60px;
}

.review {
  background-color: hsl(300, 43%, 22%);
  padding-inline: 20px;
  padding-block: 30px;
  border-radius: 5px;
  max-width: 280px;
}


img{
    object-fit: contain;
    border-radius: 100%;
}

.deco-top{
position: absolute;
top:0px ;
left: 0px;

}

.deco-bottom{
position: absolute;
bottom:0px ;
right: 0px;

}

.mobile-deco-top{
display: none;

}

.mobile-deco-bottom{
display: none;

}


@media (max-width:600px ){

    body{
        padding: 20px;
    }
h1, p{
    text-align: center;
}
.flex-btw{
    flex-direction: column;
}
.rating{
    flex-direction: column;
    gap:0px;
    padding-block: 10px;
    margin-left: 0px;
    width: 90%;
    max-width:280px ;

}

.review{
    margin-top: 0px ;
}
.review-text{
    text-align: left;
}

.mobile-deco-top{
position: absolute;
top:0px ;
left: 0px;

}

.mobile-deco-bottom{
position: absolute;
bottom:0px ;
right: 0px;

}

.deco-top{
display: none;

}

.deco-bottom{
display: none;

}

}



