body {
  margin: 0 auto;
  padding: 0px 100px;
  background-color: #f4f4f4;
  font-size: 20px;
  background: cadetblue;
  color: black;
  width:700px;
  overflow-x: hidden;
}


nav{
display: flex;
flex-direction: row;
margin: 0;
justify-content: space-between;
align-items: center;
border-bottom:1px solid rgb(19, 52, 53); ;
}

nav>ul{
  list-style: none ;
  display: flex;
flex-direction: row;
gap: 20px;
}

nav>p{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(183, 216, 216);
}

h1{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
  font-size:65px;
  font-weight: 800;
  color: rgb(183, 216, 216);
}




h3, h2{
  font-family: sans-serif;
  color: rgb(19, 52, 53);
}

h3{
  font-weight: 100;
}

ul,ol, p{
  font-family: sans-serif;
  color: rgb(40, 39, 39);
  line-height: 1.5;
}


.details{
display: flex;
flex-direction: row;
justify-content: space-between;
}

section{
  margin-block: 70px;
}

footer{
  text-align: center;
  font-size: medium;
}

